table{
    width: 100%;
    border-collapse: separate;
}

th ,td{

    border: 1px solid rgb(20, 17, 16);
    text-align: center;
}

th{
   color: rgb(233, 239, 244);
   background: #e36f6f;
}

tr {
    background: #f3eeee;
}